@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    font-family: 'Poppins';
    background: rgb(25,23,20);
    background: linear-gradient(90deg, rgba(25,23,20,1) 0%, rgba(21,8,122,1) 100%);

}
h1{
    font-size: 50px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 500;
    background-color: #0000004f;
    padding: 16px 16px;
}

h2{
    color: white;
}
p{
    color: #fff;
    text-align: left;
}
.container {
    display: flex;
    grid-template-columns: 1fr 1fr;
}
.icon-bar {
  color: white;
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
    justify-content: left ;
    transition: all 0.3s ease;

}

.container h1{
    transform: translateX(90px);
}
.icon-bar img{
    height: 30px;
    width: 30px;
    padding: 10px;
}
.flexbox-grid{
    justify-content: center;
    display:flex;
    gap: 20px; 
}

.column{
    padding: 0px 20px;
    flex: 1;
}

.column img{
    height: 300px;
    width: 330px;
    padding: 10px;
}
#col-large{
    flex-grow: 3; 
}
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #0000004f; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #0000004f;
    color: rgb(232, 227, 227);
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }