@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Font family */
html{
    font-family: 'Poppins';
    color: white;
}

/* Defined background image and display settings*/
body {
    margin: 0%;
    background-color: black;
    height: 100vh;
    background-image: url('assets/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Define container */
.container {
    text-align: center;
  }
  /* Define H1 for inside container */
    .container h1 {
        transform: translateY(-40px);
        text-align: start;
        font-size: 5rem;
        color: #fff;
        text-shadow: 2px 2px 4px #000000;
        font-weight: 500;
        background-color: #0000004f;
        padding-left: 13px;
    }
    /* Define P for inside container */

    .container p {
        transform: translateY(-80px);
        color: #fff;
        text-align: start;
    }
    /* Creating Icon Bar */
    .icon-bar {
        display: flex;
        transform: translateY(-50px);
        justify-content: space-around;
        transition: all 0.3s ease;
      }

      .icon-bar a {
        display: block;
        text-align: center;
        padding: 10px 70px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
      }
      /* Hover Effect */
      .icon-bar a:hover {
        background-color: #0000004f;
        transform: scale(1.1);
      }
      /* Restricting Image Size */
      .icon-bar img {
        height: 30px;
        width: 30px; 
      }

    